* text=auto eol=lf

*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.pt binary
*.safetensors binary

*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf
*.mjs text eol=lf
